@import "reset.css";
.wrap{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  color: black;
  background-color: white;
  text-align: center;
}

h1{
  font-size: 5em;
  text-align: center;
  margin-bottom: 50px;
  color: green;
  background-color: black;
  height: 450px;
}
