@import "reset.css";

body {
  background-color: #262626;
}

.wrap{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  color: black;
  background-color: white;
  text-align: center;
}

#titrelogo {
  font-size: 3em;
}

#formulaire {
  background-color: #262626;
  margin-top: 50px;
}

#label {
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
}

#label:hover {
  color: lightblue;
}

#boutoninscription {
  margin-top: 20px;
}

#motdepasseoublier {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
}

#motdepasseoublier:hover {
  color: lightblue;
}
